/*
Font: 		Segment Light
Style: 		Regular
URL: 		https://www.youworkforthem.com/font/T13667/segment
Foundry: 	Typekiln
Foundry: 	https://www.youworkforthem.com/designer/1491/typekiln
Copyright:	©2020 Typekiln.
Version: 	17
Created:	February 14, 2021
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'Segment-Light';
	src: url('segment-light.eot');
	src: url('segment-light.eot?#iefix') format('embedded-opentype'),
             url('segment-light.woff2') format('woff2'),
	     url('segment-light.woff') format('woff'),
	     url('segment-light.ttf') format('truetype'),
	     url('segment-light.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
